<aside class="main-sidebar sidebar-dark-primary elevation-4" [class.sidebar-collapse]="isCollapsed" data-bs-theme="dark"> <!--begin::Sidebar Brand-->
    <div class="sidebar-brand"> <!--begin::Brand Link--> <a href="./index.html" class="brand-link"> <!--begin::Brand Image--> <img src="GreenHaloLogo.png" alt="GreenHalo Logo" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span class="brand-text fw-light">GreenHalo</span> <!--end::Brand Text--> </a> <!--end::Brand Link--> </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2"> <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
    
                <li class="nav-item"> <a href="/dashboard" class="nav-link"> <i class="nav-icon bi bi-speedometer2"></i>
                    <p>Dashboard</p>
                </a> </li>

                <li class="nav-item"> <a href="/user-management" class="nav-link"> <i class="nav-icon bi bi-people"></i>
                    <p>User Management</p>
                </a> </li>

                <li class="nav-item"> <a href="/badge" class="nav-link"> <i class="nav-icon bi bi-award"></i>
                    <p>Badge</p>
                </a> </li>

                <li class="nav-item"> <a href="/cms" class="nav-link"> <i class="nav-icon bi bi-file-earmark-richtext"></i>
                    <p>CMS</p>
                </a> </li>

                <li class="nav-item"> <a href="/report-management" class="nav-link"> <i class="nav-icon bi bi-file-bar-graph"></i>
                    <p>Report Management</p>
                </a> </li>

                <li class="nav-item"> <a href="/contact-us" class="nav-link"> <i class="nav-icon bi bi-envelope"></i>
                    <p>Contact Us</p>
                </a> </li>

                <li class="nav-item"> <a href="/audit-history" class="nav-link"> <i class="nav-icon bi bi-clock-history"></i>
                    <p>Audit History</p>
                </a> </li>
            </ul> <!--end::Sidebar Menu-->
        </nav>
    </div> <!--end::Sidebar Wrapper-->
</aside> <!--end::Sidebar-->